name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - uses: zhulik/redis-action@1.1.0
      - uses: './.github/actions/setup-config'
      - name: Initialize database
        run: mysql -uroot -proot -e 'CREATE DATABASE IF NOT EXISTS database_test'
      - run: npm ci
      - run: npm test
